# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
build
dist


# Node dependencies
/node_modules 

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
# Other
/build
/dist-electron
/electron-server/back/dist
/electron-server/viewer/dist
/electron-server/back/venv
/electron-server/viewer/venv
/release
/uploads
vease-back*
vease-viewer*

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/